body {
  background-color: #F0F0F0; /* Light Grey background */
  color: black;
  font-family: Arial, sans-serif; /* Clean sans-serif font */
  margin: 0;
  padding: 0;
}

header {
  background-color: #3DD2E8; /* Light Blue banner */
  padding: 20px;
  display: flex;
  justify-content: center;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

/* Main container */
main {
  max-width: 800px; /* Adjust maximum width as per your design */
  margin: 20px auto; /* Center the container horizontally and add space around it */
  padding: 20px; /* Apply padding inside the container */
  background-color: #fff; /* White background for main content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adding a subtle shadow */
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles for Contact Page */
.contact form {
  margin-top: 20px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.contact textarea {
  height: 100px;
}

.contact button {
  background-color: #3DD2E8; /* Light Blue button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for Store Page */
.store .product {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.store .product img {
  width: 200px;
  margin-right: 20px;
}

.store .product h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.store .product p {
  margin-bottom: 5px;
}

.store .product a {
  background-color: #3DD2E8; /* Light Blue button */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background-color: #3DD2E8; /* Light Blue color (same as header) */
  padding: 20px;
  color: white; /* Text color for better contrast */
  text-align: center;
}
